html {
  scroll-padding-top: 80px;
}

.hero-gradient {
  background: linear-gradient(135deg, #0a0f29 0%, #1f2a55 100%);
}

.hero-img {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#typing-text {
  border-right: 3px solid #5ebaff;
  padding-right: 5px;
  font-weight: 500;
  white-space: nowrap;
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #5ebaff;
  }
  100% {
    border-color: transparent;
  }
}
